@mixin flex(
    $flex-direction: false,
    $justify-content: false,
    $align-items: false
) {
    display: flex;

    @if $flex-direction != false {
        flex-direction: $flex-direction;
    }

    @if $justify-content != false {
        justify-content: $justify-content;
    }

    @if $align-items != false {
        align-items: $align-items;
    }
}

@mixin row {
    display: flex;
    flex-direction: row;
}

@mixin col {
    display: flex;
    flex-direction: column;
}

@mixin center($col: false) {
    display: flex;

    @if $col == true {
        flex-direction: column;
    }

    justify-content: center;
    align-items: center;
}